#HistoryPage {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    padding: 1rem 2rem;
    margin: 0;
  }
}

.history--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.history-text {
  max-width: 720px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 20px;
}

@media (max-width: 640px) {
  .history-text {
    font-size: 16px;
  }
}
