.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

.nav-item__container {
  margin: 0 1rem;
  padding: 0 0 0.25rem 0;
  transition: all 0.2s ease-in-out;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
    height: 2px;
  }
}

.nav--item {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: white !important;
  text-decoration: none;

  &:hover {
    transition: all 0.5s ease;
  }
}
